src/main/app/getlaptopdetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://rds-postgresql-fhir.cywls3kr8rxi.ap-southeast-2.rds.amazonaws.com:5432/mydb?password=Welcome123&amp;user=masteruser" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="getlaptopdetailsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/product/getdetails" doc:name="HTTP"/>
        <logger message="#[message.id] - Selected laptop model - #[message.inboundProperties.'http.query.params'.laptop]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="product_name" value="#[message.inboundProperties.'http.query.params'.laptop]" doc:name="Variable"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.selectQuery ="select * from laptop_details where name ='" + flowVars.product_name + "'";]]></expression-component>
        <logger message="#[flowVars.selectQuery]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[#[flowVars.selectQuery]]]></db:dynamic-query>
        </db:select>
        <logger message="Response from db - #[payload], #[payload[0].price]" level="INFO" doc:name="Logger"/>
        <parse-template location="${app.home}/getdetails.html" doc:name="Parse Template"/>
    </flow>
</mule>
